<head>
    <title>Successfully Logged</title>
</head>

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="symptom">Symptom</label>
    <input type="symptom" name="symptom" id="symptom" required>
    <label for="date">Date</label>
    <input type="date" name="date" id="date" required>
    <input type="submit" value="Log">
  </form>
<li><a href="{{ url_for('index.index') }}">Back to Index</a>
{% endblock %}